<!DOCTYPE html>
<html ng-app="myApp" lag="en">

<head>
  <title>Datepicker Demos</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" />
  <link href="css/ADM-dateTimePicker.css" rel="stylesheet" />
  <link href="node_modules/flatpickr/dist/flatpickr.min.css" rel="stylesheet" />
  <link href="node_modules/angular-material/angular-material.min.css" rel="stylesheet" />
  <link href="images/favicon.ico" rel="icon" type="image/png" />
</head>
<body>
  <div class="container" ng-controller="DatePickersDemoCtrl">
    <h1 class="mx-auto" style="width: 400px;">Datepickers</h1>
    <br />
    <div class="row">
      <div class="col-4">
        ADM-dateTimePicker Date: YY/MM/DD
      </div>
      <div class="col-6">
        <adm-dtp ng-model="date10"
          options='{ default:"today", disabled:["2016/1/20", 1453408200000], multiple: false, dtpType: "date", gregorianStartDay: "1", format:"YY/MM/DD", autoClose: true }'>
        </adm-dtp>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-4">
        Flatpickr Date: Month Date, Year
      </div>
      <div class="col-6">
        <input id="flatpickrDate" type="text" placeholder="Select Date.." />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-4">
        Flatpickr Date Range: DD.MM.YYYY to DD.MM.YYYY
      </div>
      <div class="col-6">
        <input id="flatpickrDateRange" type="text" />
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        Angular Material Date: DD/MM/YYYY
      </div>
      <div class="col-6">
        <md-datepicker md-placeholder="DD/MM/YYYY" ng-model="mDate" md-open-on-focus></md-datepicker>
      </div>
    </div>
  </div>
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/angular-animate/angular-animate.min.js"></script>
  <script src="node_modules/angular-aria/angular-aria.min.js"></script>
  <script src="node_modules/angular-material/angular-material.min.js"></script>
  <script src="js/ADM-dateTimePicker.js"></script>
  <script src="node_modules/flatpickr/dist/flatpickr.min.js"></script>
  <script src="js/controllers/AppCtrl.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
</body>

</html>